<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.guo.cloud.dao.UserDao">

    <resultMap id="BaseResultMap" type="com.guo.cloud.entities.User">
        <id column="id" property="id" jdbcType="INTEGER" />
        <id column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="add" parameterType="User" useGeneratedKeys="true" keyColumn="id">
        insert into user (name) values(#{name});
    </insert>

    <select id="getById" parameterType="Integer" resultMap="BaseResultMap">
        select id,name from user where id=#{id};
    </select>

    <select id="list" resultMap="BaseResultMap">
        select * from user;
    </select>

</mapper>